<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="Kami Menjual Kaos Untuk Para Fans Dari Kaos Anime , Kaos Drakor, Kaos Hewan Peliharaan, dan lain lain masih banyak" />
    <meta name="keywords" content="One Pice, Drakor , Goblin , Kucing, Burung, Kata Bijak, Islam, Motivasi" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Katalog Kaos Fanshub" />
    <meta property="og:description" content="Kaos untuk Para Penggemar dan Fans." />
    <meta property="og:image" content="./images/prod1.png" />
    <meta property="og:url" content="https://fanshub.gumelar.site" />
    <link rel="stylesheet" href="./stylesheets/style.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="icon" type="image/png" sizes="128x128 " href="./images/logo.png" />
    <style>
      .slide-content {
        display: flex !important;
        align-items: center !important; /* Vertically center the content */
        justify-content: space-between !important; /* Space between content and image */
        padding: 0 20px !important; /* Jarak dari samping kanan dan kiri */
      }
      .img-prod1 {
        max-width: 350px !important; /* Pastikan gambar responsif */
        max-height: 350px !important; /* Pastikan gambar responsif */
      }
      .point {
        cursor: pointer;
      }
      @media (min-width: 768px) {
        .slide-content {
          margin: 0 100px !important;
        }
      }
      @media (min-width: 320px) and (max-width: 560px) {
        .img-prod1 {
          max-width: 150px !important; /* Pastikan gambar responsif */
          max-height: 150px !important; /* Pastikan gambar responsif */
        }
      }
    </style>
    <title>Fanshub - Hobi - Anime|Drakor|Kucing|Kartun|dll</title>
  </head>
  <body class="bg-light">
    <% function angkaFormat(angka) { return angka.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); } %>

    <nav class="navbar navbar-light bg-seconndary shadow mt-0">
      <div class="container-fluid">
        <a href="/" class="navbar-brand fw-bold mb-0 ms-2 h1"> Fans<span class="navbar-brand text-success">hub</span> </a>
      </div>
    </nav>
    <header>
      <div class="container mt-3">
        <div id="carouselExampleIndicators" class="carousel slide rounded-custom">
          <div class="carousel-indicators">
            <% baners.forEach((item, index) => { %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="rounded-cs-50 <%= index === 0 ? 'active' : '' %>"></button>
            <% }); %>
          </div>
          <div class="carousel-inner rounded-custom">
            <div id="banersprod" data-baner="<%= JSON.stringify(baners) %>"></div>
            <% baners.reverse().forEach((item, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>" id="carousel-item-<%= index %>">
              <div class="slide-content">
                <div>
                  <h5 class="m-0 p-0"><%= item.banerName%></h5>
                  <div class="d-flex">
                    <del class="m-0 p-0 text-secondary"><%= angkaFormat(item.banerPrice) %></del>
                    <p class="m-0 p-0 text-danger fs-5 fw-bold"><%= angkaFormat(item.banerSubPrice) %></p>
                  </div>
                  <form action="/api/share-banerwa" method="post">
                    <input type="hidden" name="id" value="<%= item.id %>" />
                    <input type="hidden" name="banerName" value="<%= item.banerName %>" />
                    <input type="hidden" name="banerImgUrl" value="<%= item.banerImgUrl %>" />
                    <input type="hidden" name="banerPrice" value="<%= item.banerPrice %>" />
                    <input type="hidden" name="banerDiscount" value="<%= item.banerDiscount %>" />
                    <input type="hidden" name="banerSubPrice" value="<%=   item.banerSubPrice %>" />
                    <input type="hidden" name="banerDetaileUrl" value="<%= item.banerDetaileUrl %>" />
                    <input type="hidden" name="color1" value="<%= item.colors && item.colors.length > 0 ? item.colors[0] : '' %>" />
                    <input type="hidden" name="color2" value="<%= item.colors && item.colors.length > 0 ? item.colors[1] : '' %>" />
                    <input type="hidden" name="color3" value="<%= item.colors && item.colors.length > 0 ? item.colors[2] : '' %>" />
                    <button type="submit" class="btn btn-success">Buy Now <i class="bi bi-whatsapp"></i></button>
                  </form>
                </div>
                <img src="<%= item.banerImgUrl %>" class="d-block w-100 img-prod1" alt="<%= item.banerName %>" />
              </div>
            </div>
            <% }); %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon d-none d-lg-block d-md-block" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon d-none d-lg-block d-md-block" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div id="myDiv" data-products="<%= JSON.stringify(products) %>"></div>
      <!-- CATEGORY BTN SECTION -->
      <section>
        <div class="container mt-2">
          <div class="row">
            <div class="col">
              <button class="btn btn-block btn-light border-success active-btn mt-1" onclick="filterProductsByCategory('All')">All</button>
              <% if (categories.length === 0) { %>
              <p>No categories available</p>
              <% } else { %> <% categories.forEach((category) => { %>
              <button class="btn btn-block btn-light border-success mt-1" onclick="filterProductsByCategory('<%= category.name %>')"><%= category.name %></button>
              <% }); %> <% } %>
            </div>
          </div>
        </div>
      </section>
      <!-- PRODUCTS ALL & FILTER -->
      <section>
        <div class="container mt-4 mb-4">
          <h3 class="fw-bold">Tunjukkin Hobimu Lewat Baju Mu yuk!</h3>
          <div class="row" id="product-list">
            <% if (products.length === 0) { %>
            <p>No categories available</p>
            <% } else { %> <% products.reverse().forEach((product) => { %>
            <div onclick="toDtl('/products/detail/<%=product.id %>')" class="col-6 col-md-3 col-lg-2 m-0 p-0 point">
              <div class="card m-1 h-min">
                <img src="<%= product.imageUrl[0] %>" alt="<%= product.name %>" class="card-img-top" />
                <div class="card-body m-0">
                  <h5 class="card-title fs-6 m-0"><%= product.name %></h5>
                  <div class="card-text m-0">
                    <div class="d-flex justify-content-between m-0 p-0">
                      <div class="m-0">
                        <del class="m-0">Rp<%=angkaFormat(product.price)%></del>
                        <div class="text-success m-0 fw-bold">Rp<%= angkaFormat(product.subPrice) %></div>
                      </div>
                      <div class="m-0">
                        <div class="bg-danger text-white divs-1 pe-1"><%= product.discount %>% Off</div>
                        <div><i class="bi bi-star-fill text-warning"></i><%= product.rating %></div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text text-secondary fs-6 m-0"><i class="bi bi-geo-alt"></i><%= product.gudang %></p>
                  <div class="">
                    <!-- <a href="" class="btn btn-sm btn-success m-0 ps-3 pe-3">Buy Now</a> -->
                    <form action="/share-whatsapp" method="post">
                      <input type="hidden" name="id" value="<%= product.id %>" />
                      <input type="hidden" name="imageUrl" value="<%= product.imageUrl[0] %>" />
                      <input type="hidden" name="name" value="<%= product.name %>" />
                      <input type="hidden" name="price" value="<%= product.price %>" />
                      <input type="hidden" name="subPrice" value="<%=   product.subPrice %>" />
                      <input type="hidden" name="discount" value="<%= product.discount %>" />
                      <input type="hidden" name="color1" value="<%= product.color && product.color.length > 0 ? product.color[0] : '' %>" />
                      <input type="hidden" name="color2" value="<%= product.color && product.color.length > 0 ? product.color[1] : '' %>" />
                      <input type="hidden" name="color3" value="<%= product.color && product.color.length > 0 ? product.color[2] : '' %>" />
                      <button type="submit" class="btn btn-sm btn-success m-0 ps-3 pe-3">Buy Now <i class="bi bi-whatsapp"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <% }); %> <% } %>
          </div>
        </div>
      </section>
    </main>
    <footer class="bg-dark d-flex justify-content-center align-items-center py-3">
      <p class="text-secondary mb-0">&copy; <span id="current-year"></span> <a href="https://fanshub.gumelar.site">fanshub</a> All rights reserved.</p>
    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script>
      //
      //GET DATA
      const products = JSON.parse(document.getElementById('myDiv').getAttribute('data-products'));
      const baners = JSON.parse(document.getElementById('banersprod').getAttribute('data-baner'));

      //DATE UPDATE
      const currentYearElement = document.getElementById('current-year');
      const currentYear = new Date().getFullYear();
      currentYearElement.textContent = currentYear;

      baners.forEach((item, index) => {
        const carouselItem = document.getElementById(`carousel-item-${index}`);
        console.log(carouselItem); // Cek apakah elemen ditemukan
        if (carouselItem) {
          console.log(`Setting background color for item ${index}: ${item.banerColorBg}`);
          // Mengatur latar belakang dengan !important
          carouselItem.style = item.banerColorBg;
        } else {
          console.error(`Element with ID carousel-item-${index} not found`);
        }
      });

      function toDtl(params) {
        window.location.href = params;
      }

      //formating number
      function formatAngka(angka) {
        return angka.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      }

      //FILTER BY CATEGORY
      function filterProductsByCategory(val) {
        categoryName = val;
        let content = document.getElementById('product-list');
        const buttons = document.querySelectorAll('.btn');

        // Menghapus kelas 'active-btn' dari semua tombol
        buttons.forEach((button) => {
          button.classList.remove('active-btn');
        });

        // Menambahkan kelas 'active-btn' pada tombol yang aktif
        const activeButton = document.querySelector(`button[onclick="filterProductsByCategory('${categoryName}')"]`);
        activeButton.classList.add('active-btn');

        // Mengosongkan konten sebelumnya
        content.innerHTML = '';

        // Memfilter produk berdasarkan kategori
        let filteredProducts = products.filter((product) => {
          return categoryName === '' || categoryName === 'All' || product.category.toLowerCase() === categoryName.toLowerCase();
        });

        // Membalik urutan produk agar produk terbaru ditampilkan di atas
        filteredProducts.reverse();

        // Menampilkan produk yang telah difilter dan dibalik
        filteredProducts.forEach((product) => {
          content.innerHTML += `
        <div onclick="toDtl('/products/detail/${product.id}')" class="col-6 col-md-3 col-lg-2 m-0 p-0 point">
            <div class="card m-1 h-min">
                <img src="${product.imageUrl[0]}" alt="${product.name}" class="card-img-top" />
                <div class="card-body m-0">
                    <h5 class="card-title fs-6 m-0">${product.name}</h5>
                    <div class="card-text m-0">
                        <div class="d-flex justify-content-between m-0 p-0">
                            <div class="m-0">
                                <del class="m-0">Rp${formatAngka(product.price)}</del>
                                <div class="text-success m-0 fw-bold">Rp${formatAngka(product.subPrice)}</div>
                            </div>
                            <div class="m-0">
                                <div class="bg-danger text-white divs-1 pe-1">${product.discount}% Off</div>
                                <div><i class="bi bi-star-fill text-warning"></i>${product.rating}</div>
                            </div>
                        </div>
                    </div>
                    <p class="card-text text-secondary fs-6 m-0"><i class="bi bi-geo-alt"></i> ${product.gudang}</p>
                    <div class="">
                        <form action="/share-whatsapp" method="post">
                            <input type="hidden" name="id" value="${product.id}" />
                            <input type="hidden" name="imageUrl" value="${product.imageUrl[0]}" />
                            <input type="hidden" name="name" value="${product.name}" />
                            <input type="hidden" name="price" value="${product.price}" />
                            <input type="hidden" name="subPrice" value="${product.subPrice}" />
                            <input type="hidden" name="discount" value="${product.discount}" />
                            <input type="hidden" name="color1" value="${product.color && product.color.length > 0 ? product.color[0] : ''}" />
                            <input type="hidden" name="color2" value="${product.color && product.color.length > 0 ? product.color[1] : ''}" />
                            <input type="hidden" name="color3" value="${product.color && product.color.length > 0 ? product.color[2] : ''}" />
                            <button type="submit" class="btn btn-sm btn-success m-0 ps-3 pe-3">
                                Buy Now <i class="bi bi-whatsapp"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>`;
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
